# Tensors #
###########
*.pt

# Compilation Outputs #
#######################
*.py[cod]
*.so
*.o
*.exe
*.class

# Folders #
###########
bin/
build/
data/
dist/
local/
tmp/
__pycache__/
.ipynb_checkpoints/
.venv/
.vscode/

# Discards #
############
.DS_Store*
.*.swp
*.swp
*.log
*~